saves/
logs/
.mixin.out/
natives/
local/
emojiful/
ESM/
backups/
scripts/
woot/
cache/
dumps/
crash-reports/
patchouli_data.json
realms_persistence.json
BotaniaVars.dat
reauth.toml
usercache.json
usernamecache.json
TrashSlotSaveState.json
config.json
options.json
config/jei/bookmarks.ini
config/jei/ingredient-list-mod-sort-order.ini
screenshots
screenshots/*
config/environmental/*
resourcepacks/
.vote2020_marker
knownkeys.txt
options.txt
